/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*RESET ENDS*/

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap");

body {
  background-color: black;
  background-image: url("./bg.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  display: grid;
  font-family: "Barlow", Helvetica, sans-serif;
  grid-template-rows: auto 1fr;
  margin: 0;
  padding: 0 1em;
  text-transform: uppercase;
}

header {
  align-items: stretch;
  display: flex;
  gap: 2em;
}

header img {
  max-width: 20rem;
}

header > nav {
  display: flex;
  width: 100%;
}

header ul {
  align-items: center;
  display: flex;
  gap: 2em;
  margin: 0;
  padding-left: 0;
  padding-top: 1em;
  list-style: none;
}

nav a {
  color: inherit;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav__aside {
  margin-left: auto;
}

.nav__hamburger-button {
  align-items: center;
  aspect-ratio: 1;
  background-color: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 2em;
  justify-content: center;
  padding: 0 6px;
}

.hamburger__bar {
  background-color: #fff;
  height: 3px;
  width: 100%;
}

.nav__hamburger-menu.closed {
  display: none;
}

main {
  display: flex;
  min-height: 90vh;
  position: relative;
}

.main__content {
  margin-bottom: 10em;
  margin-top: auto;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.main__cta {
  border: 2px solid;
  color: inherit;
  display: block;
  margin-top: 1em;
  padding: 1em 2em;
  text-decoration: none;
  width: fit-content;
}

.main__arrow {
  aspect-ratio: 1;
  border-style: solid;
  border-width: 0 3px 3px 0;
  bottom: 2em;
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) rotate(45deg);
  width: 2em;
}
