/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*RESET ENDS*/

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap");

@font-face {
  font-family: "D-DIN";
  src: url(./font/D-DINCondensed.otf);
}

@font-face {
  font-family: "D-DIN";
  src: url(./font/D-DIN-Bold.otf);
  font-weight: 700;
}

body {
  background-color: black;
  background-image: url("./bg.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  display: grid;
  font-family: "D-DIN", "Barlow", Helvetica, sans-serif;
  grid-template-rows: auto 1fr;
  margin: 0;
  padding: 0 1em;
  text-transform: uppercase;
}

header {
  align-items: stretch;
  display: flex;
  gap: 2em;
}

header img {
  max-width: 20rem;
}

header > nav {
  display: flex;
  width: 100%;
}

header ul {
  align-items: center;
  display: flex;
  gap: 2em;
  margin: 0;
  padding-left: 0;
  padding-top: 1em;
  list-style: none;
}

nav a {
  color: inherit;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  position: relative;
}

nav a::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 1px;
  transition: width 0.25s;
  position: absolute;
  bottom: -0.2em;
  width: 0;
  right: 0;
}

nav a:is(:hover, :focus-visible)::after {
  left: 0;
  width: 100%;
}

.nav__aside {
  margin-left: auto;
}

.nav__aside > li:last-of-type {
  z-index: 1000;
}

.nav__hamburger-button {
  align-items: center;
  aspect-ratio: 1;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 1.8em;
  justify-content: center;
  padding: 0 6px;
}

.hamburger__bar {
  background-color: #fff;
  height: 2px;
  transition: 0.33s;
  width: 100%;
}

.nav__hamburger-button.close > .hamburger__bar:first-child {
  transform: rotate(45deg) translate(0, 7px);
}

.nav__hamburger-button.close > .hamburger__bar:nth-child(2) {
  opacity: 0;
}

.nav__hamburger-button.close > .hamburger__bar:last-child {
  transform: rotate(-45deg) translate(0, -7px);
}

.nav__hamburger-menu {
  background-color: black;
  height: 100dvh;
  opacity: 1;
  position: absolute;
  right: 0;
  visibility: visible;
  width: 20vw;
  z-index: 100;
}

.nav__hamburger-menu.closed {
  opacity: 0;
  right: -1000;
  visibility: hidden;
}

.nav__hamburger-menu > ul {
  display: flex;
  flex-direction: column;
  padding: 5em 1.25em;
  place-content: end;
  text-align: end;
  width: 100%;
}

.nav__hamburger-menu li {
  width: 100%;
}

.nav__hamburger-menu li::after {
  background-color: rgba(255, 255, 255, 0.2);
  content: "";
  display: block;
  height: 1px;
  margin-top: 1em;
  width: 100%;
}

.nav__hamburger-menu a {
  font-size: 1rem;
  font-weight: 400;
  transition: opacity 0.3s;
}

.nav__hamburger-menu a::after {
  content: unset;
}

.nav__hamburger-menu a:is(:hover, :focus-visible) {
  opacity: 0.5;
}

main {
  font-weight: 600;
  display: flex;
  min-height: 90vh;
  position: relative;
}

.main__content {
  margin-bottom: 10em;
  margin-top: auto;
}

.main__pre-heading {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.main__cta {
  border: 2px solid;
  color: inherit;
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1em;
  padding: 1em 2.66em;
  text-decoration: none;
  width: fit-content;
}

.main__arrow {
  aspect-ratio: 1;
  border-style: solid;
  border-width: 0 3px 3px 0;
  bottom: 2em;
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) rotate(45deg);
  width: 2em;
}
